.layout{
    width: 1512px;
}

.flame{
    margin-top: 95px;
    margin-left: 66px;
    width: 1380px;
    /* height: 1702px; */
    display: flex;
}

.flame_left{
    width: 60%;
}

.flame_right{
    width: 40%;
}