.layout{
    width: 1512px;
}

.flame{
    margin-top: 95px;
    margin-left: 66px;
    width: 1380px;
    height: 1702px;
    display: flex;
    border: solid 4px;
}

.flame_left{
    width: 690px;
    height: 1702px;
}

.flame_right{
    width: 690px;
    height: 1702px;
}
