.layout{
    width: 1512px;
}

.form{
    width: 680px;
    margin: 0px auto;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}

.edit{
    width: 680px;
    height: 55px;
}

.button{
    width: 680px;
    height: 60px;
    margin-top: 40px;
}