.layout{
    width: 1512px;
}

.form{
    width:680px;
    margin: 0px auto;
}

.title{
    margin: 0px auto;
}

.checkbox{
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button{
    display: none;
}

.word{
    color: #FF5655;
    border: 1px solid #FF5655;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}





input:checked + .word {
	color: #FFF;
	background: #FF5655;
	border: 1px solid #FF5655;
}
