.layout{
    width: 1512px;
}

.form{
    width:680px;
    margin: 0px auto;
}

.checkbox{
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
}

.button{
    display: none;
}

.word{
    color: #FF5655;
    border: 1px solid #FF5655;
    border-radius: 20px;
    padding: 5px 20px;
}
